*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
    padding: 40px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    flex-wrap: wrap;
}

.form-card {
    width: 300px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    height: 300px;
}

.title-card{
    font-size: 25px;
    padding-top: 13px;
    padding-left: 10px;
}

.keterangan{
    font-size: 13px;
    color: gray;
    padding-top: 10px;
    padding-left: 10px;
}

.sub-title{
    font-size: 14px;
    padding-top: 16px;
    padding-left: 10px;
}

.box-input{
    border: solid 1px gray;
    width: 80%;
    height: 30px;
    margin: 10px;
    padding: 10px;
}

.forget{
    text-align: right;
    font-size: 12px;
    padding-right: 10px;
    padding-top: 10px;
}

.login{
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 12px;
    width: 80%;
    height: 30px;
    margin-left: 20px;
    padding-top: 6px;
    margin-top: 10px;
    border-style: none;

}



.login::placeholder{
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    color:gray;
    margin-left: 5px;
}

